#home-bg
  background: url(/assets/img/home.jpg) no-repeat center fixed
  @include background-size (cover)

#main
  display: inline-block
  position: absolute
  left: 0
  width: 100%
  height: calc(100% - 60px)
  background-color: rgba(0,0,0,0.3)

#app
  position: absolute
  margin: 100px auto 100px auto
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 400px
  height: 500px

.circle-btn
  display: inline-block
  width: 100px
  height: 100px
  border: 2px solid #F5F5F5
  border-radius: 50%
  background: #464646
  cursor: pointer
  text-decoration: none
  #plus
    margin: 30px
  #minus
    margin: 30px
