#signup-bg
  background: url(/assets/img/signup.jpg) no-repeat center fixed
  @include background-size (cover)

#signup
  @include form (400px, 520px, 15px)

.glass
  @include glass (0.3, 5px)

#signupForm
  margin: auto
  padding: 40px 30px 40px 30px

.names
  display: inline-block
  width: 165px
  &.first
    float: left
  &.last
    float: right

#login-return
  margin: 10px 0 10px 0
  float: right
