extends ./_base.jade
block title
  title LetSplit | Circle
block append style
  link(rel="stylesheet", href="/assets/css/app.css")
block body
  #app-bg.bg-cover
    // Navigation
    include ./_navbar.jade
    #main
      #app
        canvas#chart(width="400px", height="400px")
        a.circle-btn(type="button", data-toggle="modal", data-target="#addModal", style="float:left;")
          i#plus.fa.fa-plus.fa-3x
        a.circle-btn(type="button", data-toggle="modal", data-target="#subModal", style="float:right;")
          i#minus.fa.fa-minus.fa-3x
    // Modals
    include ./_modals.jade
    #addModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="addLabel", aria-hidden="true")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &times;
              span.sr-only Close
            h4#addLabel.modal-title Add
          .modal-body
            form#addForm(role="form", action="/add", method="POST")
              input.form-control(type="number", name="addNum")
          .modal-footer
            button#add-btn.btn.btn-primary.btn-lg.btn-block(type="button") Add
    #subModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="subLabel", aria-hidden="true")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &times;
              span.sr-only Close
            h4#subLabel.modal-title Subtract
          .modal-body
            form#subForm(role="form", action="/sub", method="POST")
              input.form-control(type="number", name="subNum")
          .modal-footer
            button#sub-btn.btn.btn-primary.btn-lg.btn-block(type="button") Subtract
    block footer
      footer Copyright 2014
block append scripts
  script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
  script(type="text/javascript", src="/assets/js/lib/Chart.min.js")
  script(type="text/javascript", src="/assets/js/index.js")
  script(type="text/javascript", src="/assets/js/navbar.js")
  script(type="text/javascript", src="/assets/js/app.js")
