extends ./base.jade
block title
  title LetSplit | Home
block append style
  link(rel="stylesheet", href="/assets/css/home.css")
block body
  #home-bg.bg-cover
    #navbar.glass
      #nav-toggle.lines
      a#nav-logout(href="logout")
        i.fa.fa-power-off.fa-2x
    #nav-side.glass-side
    footer Copyright 2014
block append scripts
  script(type="text/javascript", src="/assets/js/home.js")
