extends ./base.jade
block title
  title LetSplit | Home
block append style
  link(rel="stylesheet", href="/assets/css/home.css")
block body
  #home-bg.bg-cover
    #navbar.glass
      #nav-toggle.lines
      a#nav-logout(href="logout")
        i.fa.fa-power-off.fa-2x
    ul#nav-side.glass-side
      li.side-btn
        i.fa.fa-home.fa-3x
        label Home
      li.side-btn
        i.fa.fa-search.fa-3x
        label Search
      li.side-btn
        i.fa.fa-plus.fa-3x
        label New Circle
      li.side-btn
        i.fa.fa-users.fa-3x
        label Friends
      li.side-btn
        i.fa.fa-gear.fa-3x
        label Settings
    #main
      #app
        canvas#chart(width="400px", height="400px")
        a.circle-btn(style="float:left;")
          i#plus.fa.fa-plus.fa-3x
        a.circle-btn(style="float: right;")
          i#minus.fa.fa-minus.fa-3x
    block footer
      footer Copyright 2014
block append scripts
  script(type="text/javascript", src="/assets/js/Chart.min.js")
  script(type="text/javascript", src="/assets/js/home.js")
