extends ./_base.jade
block title
  title LetSplit | Home
block append style
  link(rel="stylesheet", href="/assets/css/home.css")
block body
  #home-bg.bg-cover
    // Navigation
    include ./_navbar.jade
    #main
    // Modals
    include ./_modals.jade
    block footer
      footer Copyright 2014
block append scripts
  script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
  script(type="text/javascript", src="/assets/js/lib/Chart.min.js")
  script(type="text/javascript", src="/assets/js/index.js")
  script(type="text/javascript", src="/assets/js/navbar.js")
  script(type="text/javascript", src="/assets/js/home.js")
