#navbar.glass
  #nav-toggle.lines
  a#nav-logout(href="logout")
    i.fa.fa-power-off.fa-2x
  h4#nav-user #{username}
ul#nav-side.glass-side
  li.side-btn
    i.fa.fa-home.fa-3x
    label Home
  li.side-btn
    i.fa.fa-search.fa-3x
    label Search
  li.side-btn(type="button", data-toggle="modal", data-target="#newCircleModal")
    i.fa.fa-plus.fa-3x
    label New Circle
  li.side-btn
    i.fa.fa-users.fa-3x
    label Friends
  li.side-btn
    i.fa.fa-gear.fa-3x
    label Settings
