extends ./base.jade
block title
  title LetSplit
block append style
  link(rel="stylesheet" type="text/css" href="/assets/css/signup.css")
block body
  #signup-bg.bg-cover
    #signup.glass
      form#signupForm(name="signupForm", role="form", action="/signup", method="POST")
        .form-group.names.first
          label First Name
          input#firstname.form-control(name="first", type="text")
        .form-group.names.last
          label Last Name
          input#lastname.form-control(name="last", type="text")
        .form-group
          label Username
          input#username.form-control(name="username", type="text")
        .form-group
          label Email
          input#email.form-control(name="email", type="email")
        .form-group
          label Password
          input#password.form-control(name="password", type="password")
        .form-group
          label Confirm Password
          input#confirm.form-control(name="confirm", type="password")
        button#signgup-btn.btn.btn-primary.btn-lg.btn-block Sign Up
        #login-return.form-group
          a(href="#") Already have an account?
    svg(xmlns="https://www.w3.org/2000/svg", version="1.1")
      defs
        filter#blur
          feGaussianBlur(stdDeviation="5")
    footer Copyright 2014
block append scripts
  script(type="text/javascript" src="/assets/js/signup.js")
